Repository koreatech/hanpyo, pull requests merged in 2021-02, with the labels that each got.

#6 Button 컴포넌트 제작
  client/.eslintrc.js
  client/package.json
  client/src/App.tsx
  client/src/common/styles/index.ts
  client/src/common/styles/theme.ts
  client/src/components/UI/atoms/Button/Button.stories.tsx
  client/src/components/UI/atoms/Button/Button.tsx
  client/src/components/UI/atoms/index.ts
  client/tsconfig.json
  client/yarn.lock
Labels: 🎨 FE, 🧍‍♂️ atom

#7 refactor: Button 테스트 리팩토링
  client/.storybook/preview.js
  client/src/components/UI/atoms/Button/Button.stories.tsx
  client/src/components/UI/atoms/Button/Button.tsx
  client/tsconfig.paths.json
Labels: 🎨 FE, 🚧 Refactor, 🧍‍♂️ atom

#8 Typography 컴포넌트 제작
  client/.eslintrc.js
  client/src/common/styles/theme.ts
  client/src/components/UI/atoms/Typography/Typography.stories.tsx
  client/src/components/UI/atoms/Typography/Typography.tsx
  client/src/components/UI/atoms/index.ts
Labels: 🎨 FE, 🧍‍♂️ atom

#11 Header 컴포넌트 제작
  client/src/components/UI/atoms/Button/Button.tsx
  client/src/components/UI/atoms/Typography/Typography.tsx
  client/src/components/UI/molecules/Header/Header.stories.tsx
  client/src/components/UI/molecules/Header/Header.tsx
  client/src/components/UI/molecules/Header/HeaderLoginTab.tsx
  client/src/components/UI/molecules/Header/HeaderMenu.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/pages/MainPage.tsx
  client/src/index.tsx
  client/src/reset.css
Labels: 🎨 FE, 👭 molecule

#12 Timetable 제작
  client/src/components/UI/atoms/LectureGrid/LectureGrid.stories.tsx
  client/src/components/UI/atoms/LectureGrid/LectureGrid.tsx
  client/src/components/UI/atoms/index.ts
  client/src/components/UI/molecules/Header/Header.tsx
  client/src/components/UI/molecules/Timetable/Timetable.stories.tsx
  client/src/components/UI/molecules/Timetable/Timetable.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/pages/MainPage.tsx
Labels: 🎨 FE, 👭 molecule

#13 feat: travis-CI 자동배포 구축
  .travis.yml
  appspec.yml
  execute-deploy.sh
Labels: ⚙ Setting, 🏕 DevOps

#16 Notice 컴포넌트 제작
  client/package.json
  client/src/components/UI/molecules/Notice/Notice.stories.tsx
  client/src/components/UI/molecules/Notice/Notice.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/pages/MainPage.tsx
  client/yarn.lock
Labels: 🎨 FE, 👭 molecule
