Repository koreatech/hanpyo, pull requests merged in 2021-03, with the labels that each got.

#18 Feat/lefttab#15
  client/src/apollo.ts
  client/src/components/UI/atoms/Button/Button.tsx
  client/src/components/UI/molecules/Timetable/SelectTab/Menus/Menus.tsx
  client/src/components/UI/molecules/Timetable/SelectTab/Menus/Modal.tsx
  client/src/components/UI/molecules/Timetable/SelectTab/SelectTab.stories.tsx
  client/src/components/UI/molecules/Timetable/SelectTab/SelectTab.tsx
  client/src/components/UI/molecules/Timetable/Timetable.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/UI/organisms/MainLeft/MainLeft.tsx
  client/src/components/UI/organisms/index.ts
  client/src/components/pages/MainPage.tsx
  client/src/stores/timetable.ts
Labels: 🎨 FE, 👨‍👨‍👦 organism

#23 검색 결과창 컴포넌트 제작
  client/src/components/UI/atoms/LectureInfoDivider/LectureInfoDivider.tsx
  client/src/components/UI/atoms/LectureInfoTitle/LectureInfoTitle.tsx
  client/src/components/UI/atoms/Typography/Typography.tsx
  client/src/components/UI/atoms/index.ts
  client/src/components/UI/molecules/SearchBar/SearchBar.stories.tsx
  client/src/components/UI/molecules/SearchBar/SearchBar.tsx
  client/src/components/UI/molecules/SearchResults/LectureInfo/LectureInfo.stories.tsx
  client/src/components/UI/molecules/SearchResults/LectureInfo/LectureInfo.tsx
  client/src/components/UI/molecules/SearchResults/SearchResults.stories.tsx
  client/src/components/UI/molecules/SearchResults/SearchResults.tsx
  client/src/components/UI/molecules/index.ts
Labels: 🎨 FE, 👭 molecule

#26 클라이언트 스토어 구조변경
  client/src/App.tsx
  client/src/stores/ModalStore.ts
  client/src/stores/RootStore.ts
  client/src/stores/StoreContext.tsx
  client/src/stores/TimeTableStore.ts
  client/src/stores/index.ts
  client/tsconfig.json
Labels: 🎨 FE

#27 시간표 레이아웃에 시간표 채우기 및 리팩토링
  client/package.json
  client/src/components/UI/atoms/Hello/Hello.stories.tsx
  client/src/components/UI/atoms/Hello/Hello.tsx
  client/src/components/UI/atoms/LectureBox/LectureBox.tsx
  client/src/components/UI/atoms/LectureInfoTitle/LectureInfoTitle.tsx
  client/src/components/UI/atoms/Typography/Typography.tsx
  client/src/components/UI/atoms/index.ts
  client/src/components/UI/molecules/Notice/Notice.tsx
  client/src/components/UI/molecules/SearchResults/LectureInfo/LectureInfo.stories.tsx
  client/src/components/UI/molecules/SearchResults/LectureInfo/LectureInfo.tsx
  client/src/components/UI/molecules/SearchResults/SearchResults.tsx
  client/src/components/UI/molecules/Timetable/Timetable.tsx
  client/src/components/UI/organisms/MainLeft/MainLeft.tsx
  client/src/components/UI/organisms/index.ts
  client/src/components/pages/MainPage.tsx
  client/src/stores/TimeTableStore.ts
  client/src/stores/timetable.ts
  client/yarn.lock
Labels: 🎨 FE, 👭 molecule, 🧍‍♂️ atom

#29 Modal 컴포넌트 수정 작업
  client/.storybook/preview.js
  client/src/components/HOC/index.ts
  client/src/components/HOC/withStoryBox/withStoryBox.tsx
  client/src/components/UI/molecules/ModalPopupArea/ModalPopupArea.stories.tsx
  client/src/components/UI/molecules/ModalPopupArea/ModalPopupArea.tsx
  client/src/components/UI/molecules/TimeTableModalContent/TimeTableModalContent.stories.tsx
  client/src/components/UI/molecules/TimeTableModalContent/TimeTableModalContent.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/UI/organisms/ModalPopup/ModalPopup.tsx
  client/src/components/UI/organisms/ModalPopup/TimeTableModalPopup.stories.tsx
  client/src/components/UI/organisms/ModalPopup/TimeTableModalPopup.tsx
  client/src/components/UI/organisms/index.ts
  client/src/stores/ModalStore.ts
Labels: 🎨 FE, 👨‍👨‍👦 organism, 👭 molecule

#30 시간표 삭제 기능 및 Snackbar 추가
  client/src/components/UI/atoms/AlertSnackbar/AlertSnackbar.tsx
  client/src/components/UI/atoms/LectureBox/LectureBox.tsx
  client/src/components/UI/atoms/index.ts
  client/src/components/UI/molecules/SearchResults/LectureInfo/LectureInfo.tsx
  client/src/components/UI/molecules/SearchResults/SearchResults.tsx
  client/src/components/pages/MainPage.tsx
  client/src/stores/RootStore.ts
  client/src/stores/SnackbarStore.ts
  client/src/stores/index.ts
  client/src/stores/timetable.ts
Labels: 🎨 FE, 🧍‍♂️ atom

#34 TimeTableMenu 컴포넌트 제작 및 ModalStore 연동
  client/src/components/UI/molecules/TimeTableModalContent/TimeTableModalContent.tsx
  client/src/components/UI/molecules/TimeTableTabBtnGroup/TimeTableTabBtnGroup.stories.tsx
  client/src/components/UI/molecules/TimeTableTabBtnGroup/TimeTableTabBtnGroup.tsx
  client/src/components/UI/molecules/TimeTableTabMenu/TimeTableTabMenu.stories.tsx
  client/src/components/UI/molecules/TimeTableTabMenu/TimeTableTabMenu.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/UI/organisms/ModalPopup/ModalPopup.tsx
  client/src/components/UI/organisms/TimeTableMenu/TimeTableMenu.tsx
  client/src/components/UI/organisms/TimeTableMenu/TimeTableMenuArea.stories.tsx
  client/src/components/UI/organisms/TimeTableMenu/TimeTableMenuArea.tsx
  client/src/components/UI/organisms/index.ts
  client/src/components/pages/MainPage.tsx
Labels: 🎨 FE, 👨‍👨‍👦 organism, 👭 molecule

#36 리팩토링 작업
  client/src/components/UI/atoms/LectureBox/LectureBox.tsx
  client/src/components/UI/molecules/LectureBoxContainer/LectureBoxContainer.tsx
  client/src/components/UI/molecules/LectureInfo/LectureInfo.tsx
  client/src/components/UI/molecules/LectureListBody/BasketLectureListBody.tsx
  client/src/components/UI/molecules/LectureListBody/SearchedLectureListBody.tsx
  client/src/components/UI/molecules/TimeTableTabMenu/TimeTableTabMenu.tsx
  client/src/components/UI/molecules/Timetable/Timetable.tsx
  client/src/components/UI/molecules/index.ts
  client/src/components/UI/organisms/LectureList/LectureList.tsx
  client/src/components/UI/organisms/ModalPopup/ModalPopup.tsx
  client/src/components/UI/organisms/TimeTableMenu/TimeTableMenu.tsx
  client/src/stores/TimeTableStore.ts
Labels: 🎨 FE, 👨‍👨‍👦 organism, 👭 molecule, 🚧 Refactor
